/* main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
} */


* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  
}
@font-face {
  font-family: "Kegilka",;  
  src: local("Kegilka"),
    url("./Kegilka.otf") format("opentype");
}

.navbar {
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:30px;
  padding-right: 8rem;
  border-bottom: 1px solid #464646;
}

.nav-items {
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Clash Display', sans-serif;  
  font-weight:400;
  font-size:16px;
  border-left: 1px solid #464646;
  padding: 3.93rem;
}

.error-link {
  margin: 0 8rem;
}

body {
/*   width:100vw; */
  background:black;
  color:white;
}

.larmideh {
  font-family: 'Clash Display', sans-serif;  
  font-weight:600;
  padding:3rem 0rem 3rem 0rem;
  font-size: 40px;
}

.Kegilka {
  font-family: "Kegilka", 'Clash Display', sans-serif;
  font-size: 6.4rem;
  line-height: 5.9rem;
  font-weight:400;
  padding:7rem 8rem;
  background: #121212;
}

.loading-gif {
  display: flex;
  justify-content:center;
  align-items:center;
  line-height: 100vh;
}
.repos-title {
  text-transform: capitalize;  
}

.headline {
  margin-bottom:80px;
}

.repo-title, .index {
  font-family: 'Clash Display', sans-serif;  
  text-transform: capitalize;
  font-size:48px;
}

.repo-title {
  margin-bottom:20px;
  color: #c2c2c2;
  font-weight: 400;  
}

.index {
  font-weight: 500; 
  color: #f1f1f1;
  display: flex;
  justify-content: right;
}

.owner {
  font-family: "helvetica";
  text-transform: uppercase;
  font-weight: 400;
  font-size:20px;
  margin-bottom: 60px;
  color: #464646;
}

.links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "inter";
  color: #c2c2c2;
  text-align: right;
}

.repo-details {
  display:flex;
  flex-direction:column;
  margin:4rem 8rem;
  gap:40px;
}

.repo-container {
  border-bottom: 2px solid #464646;
  padding-bottom: 40px;
}

.flex {
  display: flex;
  padding:0rem 8rem;
  justify-content: space-between;
}

.homepage-container {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height: 75vh;
  vertical-align: center;
}

.personal-details {
  font-size:15px;
  font-family: "inter";
  font-weight:300;
  color: #c2c2c2;
}

fa-arrow-up-long {
  transform: rotate(45deg);
  display:inline-block;
}

.go-to-repo {
  display:inline-flex;
  align-items:center;
  gap:10px;
  color:#c2c2c2;
  text-decoration: none;
  text-transform:uppercase;
  font-size:18px;
  font-family: "inter";
  font-weight:400;
  padding:0px 0;
}

.current-page {
  font-size: 2rem;
  font-weight: 300;
  margin:3rem 0 1.5rem 0;
  padding:0rem 8rem; 
  color:#c2c2c2;
  font-family: "helvetica", sans-serif;
}

.pagination-container, .pagination {
  display:flex;
  font-family: "helvetica", sans-serif;
  gap: .4rem;
}

.pagination-container {
  padding:0rem 8rem;
  margin-bottom:60px;
}

.strong {
  font-size: 2rem;
  font-weight: 700
}

button {
  padding:.7rem 1.4rem;
  font-size: 1.3rem;
  background:none;
  color:#c2c2c2;
  outline:none;
  border:1px solid #464646;
}

button:hover {
  cursor:pointer;
}

button:active {
  background: #d2ecfa;
  font-weight:700;
  color:black;
  color:#ffffff;
  
}

button:disabled {
  color:#aba6a6;
  
}

.active {
  color:black;
  font-weight:500;
  background: white;
}

.grid-container {
  height:80vh;
  margin:0;
  padding:0;
}

.grid-item {
  display:flex;
  gap:50px;
  width: 100%;
  padding:0rem 8rem;  
  align-items:center;
}

.desc1 {
  font-family: "inter", sans-serif;
  font-size:18px;
  font-size: 300;
  color:grey;
  }

.desc-joke {
  margin-top:0.3rem;
    font-family: 'Clash Display', sans-serif;  
  font-size: 22px;
  font-weight: 300;
  width:50%;
} 


.back-home {
  margin-top:2rem;
  display:inline-flex;
  align-items:center;
  gap:1rem;
  padding:1rem;
    font-family: 'Clash Display', sans-serif;  
  border: 1px solid #464646;
  border-radius:.3rem;
  font-size:1.6rem;
  text-decoration:none;
  color:#c2c2c2;
}

.repo-top {
  padding:7rem 8rem;
  background: #121212;
}

.singrepo-language, .singrepo-date {
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  color: #bdbdbd;
  font-size: 15px;
}

.singrepo-language {
  margin-bottom:22px;
}

.singrepo-title {
  font-family: "Kegilka", 'Clash Display', sans-serif;
  font-size: 6.4rem;
  line-height: 5.9rem;
  font-weight:400;
  text-transform: capitalize;
}

.desc-container {
  padding:3rem 8rem 7rem 24rem;
}

.repo-desc-head, .repo-description {
  font-family: 'helvetica', sans-serif;  
}

.repo-desc-head {
  font-size: 32px;
  font-weight: 700;
  line-height:40px;
  color: #d9d9d9;
  letter-spacing: -1px; 
}

.repo-description {
  font-weight: 300;
  font-size: 22px;
  margin-top:20px;
  color: #bdbdbd;
}

.singrepo-links {
  display: flex;
  gap:24px;
}

@media only screen and (max-width: 800px){
  .navbar {
  gap:10px;
  align-items: center;
    margin: 0;
}

 .error-link {
  margin: 0 2rem;
}

.nav-items {
  font-size:10px;
  padding: 1rem .7rem .75rem .7rem;
}

.larmideh {
  padding:.7rem 2rem;
  font-size: 13px;
}

.altschool {
  padding:.7rem 2rem;
  font-size: 13px;
}

.Kegilka {
  font-size: 4.8rem;
  padding:5rem 2rem;
  line-height:3.5rem;
}

.repo-title, .index {
  font-size:24px;
}


.repo-title {
  margin-bottom:10px;  
}

.owner {
  font-size:12px;
  margin-bottom: 30px;
}

.links {
  font-size:10px;
}

.repo-details {
  margin:0rem;
  padding:.2rem 2rem;
  gap:20px;
}

  .repo-container {
  padding-bottom: 20px;
}

.flex {
  display: block;
  padding:0rem 2rem;
  justify-content: space-between;
}

.personal-details {
  font-size:12px;
  margin-bottom:40px;
}

.personal-details2 {
  display:flex;
  flex-direction:column;
  justify-content:right;
  font-size:12px;
  margin-bottom:40px;
}

.current-page {
  font-size: 1rem;
  margin:2rem 0 1rem 0;
  padding:0rem 2rem; 
}

.pagination-container {
  padding:0rem 2rem;
}

  .strong {
  font-size: 1rem;
  font-weight: 700
}

button {
  padding:.3rem .7rem;
  font-size: 1rem;
  font-weight:300;
}

.grid-item {
  display:block;
  padding:0rem 2rem;  
}  

  .desc-joke {
  width: 95%;
  line-height: 2.4rem;
  }

.back-home {
  padding:.5rem;
  border-radius:.3rem;
  font-size:1.2rem;
}

  .repo-top {
  padding:4rem 2rem;
}

.singrepo-language {
  margin-bottom:22px;
}

.singrepo-title {
  font-size: 3rem;
  line-height: 2.7rem;
  margin-bottom:22px;
}

.desc-container {
  padding:3rem 2rem 3rem 2rem;
}

}
